:root {
    --bg:#1A191B;
    --bc: #ffffff;

}

* {
    color: var(--bc);
}

html, body{
    min-height:100dvh;
    background-color: var(--bg);

    font-size: 16px;

    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}


header {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    padding: 0 3rem;
    align-items: center;
}


nav {
    display: flex;
    gap: 2.5rem;

    & > a {
       text-decoration: none;
        text-transform: uppercase;
    }

    & > .active {
        border-bottom: 0.125rem solid var(--bc);
        padding-bottom: 0.25rem;
        padding: 0 0.25rem 0.25rem 0.25rem;
    }
}

main {
    /* min-height: calc(100dvh - 5rem); */
    display: flex;
    flex: 1;
    align-items: center;
    padding-left: 5rem; /* Todo: this might be a problem*/
    & > section {
        display: flex;
        flex-direction: column;
        flex-basis: 33%;
        & > p:nth-child(1) {
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 2px;
        }
        & > p {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            & > span {
                display: block;
                width: 2rem;
                height: 2px;
                background-color: var(--bc);
            }
        }

        & > h1 {
            text-transform: uppercase;
            font-size: 3.5rem;
            margin: 0;
            font-weight: 900;
            letter-spacing: 3px;
        }

        & > p:nth-child(3) {
            opacity: 70%;
        }
        & > a {
            display: flex;
            height: 2rem;
            width: 2rem;
            border: 2px solid var(--bc);
            border-radius: 50%;
            justify-content: center;
            align-items: center;
            & > svg {
                fill: var(--bc);
                width: 1.6rem;
                height: 1.6rem;
            }
        }
    }
}

